body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    background-color: #f5f6fa;
    color: #333;
}

header {
    background-color: #1e1e2f;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #2f3b52;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #1e1e2f;
}

time {
    color: #777;
    font-size: 0.9em;
}

figure {
    margin: 10px 0;
    text-align: center;
}

figure img {
    width: 40% ;
    border-radius: 10px;
}

figure figcaption {
    font-size: 0.9em;
    color: #555;
}

footer {
    background-color: #1e1e2f;
    color: white;
    text-align: center;
    padding: 15px;
}

